#actions { text-align: right; }

div.form, div.view { width: 100%; display: inline; float: left; margin-right: 1.266%; }
div.form ul, div.view ul { margin: 0; }
div.form ul li, div.view ul li { list-style-type: none; margin-left: 0px; }
div.form .attribute, div.form .row, div.view .attribute, div.view .row { width: 100%; display: inline; float: left; margin-right: 1.266%; padding: 3px 0; }
div.form .label, div.view .label { width: 27.848%; display: inline; float: left; margin-right: 1.266%; font-weight: bold; font-size: 90%; line-height: 1.7; text-align: right; background: #B7DDF2; }
div.form .label label, div.view .label label { padding: 0 6px; display: block; }
div.form .value, div.view .value { width: 68.354%; display: inline; float: left; margin-right: 1.266%; margin-right: 0; /* ugly hacks for IE6-7 */ #margin-right: -1%; /* end ugly hacks */ }
div.form .buttons, div.view .buttons { width: 68.354%; display: inline; float: left; margin-right: 1.266%; clear: both; padding-left: 18.987%; margin-top: 6px; }
div.form label.required, div.view label.required { background: yellow; }
div.form label.error, div.view label.error { background: #fbe3e4; color: #8a1f11; border: 2px solid; border-color: #fbc2c4; }

div.errorSummary { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
div.errorSummary a { color: #8a1f11; }

div.admin h2 { padding-bottom: 6px; }
div.admin table { background: white; border-collapse: collapse; border: 2px #B7DDF2 solid; width: 100%; }
div.admin th, div.admin td { padding: 3px; }
div.admin th { font-weight: bold; background: #d3dfee; text-align: left; }
div.admin tr.odd { background: #E6F2FF; }
div.admin .actions { width: 75px; text-align: right; }
div.admin .footer { text-align: right; }
