.layout { display: table; width: 100%; background: #E6F2FF; outline: 2px #B7DDF2 solid; }
.layout > ul { display: table-row; }
.layout > ul li { list-style-type: none; margin-left: 0px; }
.layout > ul > li { display: table-cell; vertical-align: top; }

li.view, div.view, li.form, div.form { padding: 6px; }
li.view ul, div.view ul, li.form ul, div.form ul { margin: 0; padding: 0; }
li.view .label, li.view .value, div.view .label, div.view .value, li.form .label, li.form .value, div.form .label, div.form .value { padding: 3px; display: table-cell; vertical-align: top; }
li.view .label, div.view .label, li.form .label, div.form .label { font-weight: bold; margin-right: 6px; }
li.view .buttons, div.view .buttons, li.form .buttons, div.form .buttons { margin-top: 6px; }
li.view .value .validation-error, div.view .value .validation-error, li.form .value .validation-error, div.form .value .validation-error { background: #fbe3e4; color: #8a1f11; }

li.form .label, div.form .label { margin-top: 0.4em; }

div.actionBar { font-size: medium; text-align: left; color: #fff; background: #B7DDF2; padding: 6px; margin-bottom: 6px; }
div.actionBar ul { list-style-type: none; margin: 0px; padding: 0px; display: inline; }
div.actionBar ul li { margin: 0px; padding: 0px; display: inline; }

button { padding: 0; display: inline-block; }
button img { vertical-align: middle; }

li.relations { border-left: 2px solid #B7DDF2; width: 30%; }
li.relations ul { display: table; width: 100%; margin: 0; }
li.relations ul li { list-style-type: none; margin-left: 0px; }
li.relations li { display: table-row; }
li.relations li.odd { background: #B7DDF2; }
li.relations li > * { text-decoration: none; font-size: large; display: table-cell; vertical-align: middle; padding: 6px; }
li.relations li > *.icon { width: 32px; }
li.relations li > *.value { text-align: right; }
li.relations img { width: 32px; height: 32px; vertical-align: middle; }
li.relations .header { font-size: large; }
li.relations > * { padding: 0; }

.errorSummary { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.errorSummary a { color: #8a1f11; }

table.index { background: #B7DDF2; border-collapse: collapse; border: 2px #B7DDF2 solid; width: 100%; }
table.index th { background: #d3dfee; text-align: left; border-bottom: 1px solid #E6F2FF; }
table.index tr.odd { background: #E6F2FF; }
table.index .actions { width: 100px; text-align: right; white-space: nowrap; }
table.index .actions button { margin-left: 3px; }
table.index tr.filters th { background: #B7DDF2; }
table.index .filter { margin: 0; padding: 0; }

.pager { font-size: inherit !important; text-align: right; }
