body { line-height: 1.5; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; color: #333333; font-size: 75%; }

h1 { font-weight: normal; color: #222222; font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h1 img { margin: 0; }

h2 { font-weight: normal; color: #222222; font-size: 2em; margin-bottom: 0.75em; }

h3 { font-weight: normal; color: #222222; font-size: 1.5em; line-height: 1; margin-bottom: 1em; }

h4 { font-weight: normal; color: #222222; font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }

h5 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }

h6 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; }

h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }

p { margin: 0 0 1.5em; }
p img.left { display: inline; float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { display: inline; float: right; margin: 1.5em 0 1.5em 1.5em; padding: 0; }

a { text-decoration: underline; color: #000099; }
a:visited { color: #000066; }
a:focus { color: black; }
a:hover { color: black; }
a:active { color: #cc0099; }

blockquote { margin: 1.5em; color: #666; font-style: italic; }

strong { font-weight: bold; }

em { font-style: italic; }

dfn { font-style: italic; font-weight: bold; }

sup, sub { line-height: 0; }

abbr, acronym { border-bottom: 1px dotted #666; }

address { margin: 0 0 1.5em; font-style: italic; }

del { color: #666; }

pre { margin: 1.5em 0; white-space: pre; }

pre, code, tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

li ul, li ol { margin: 0 1.5em; }

ul { margin: 0 1.5em 1.5em 1.5em; list-style-type: disc; }

ol { margin: 0 1.5em 1.5em 1.5em; list-style-type: decimal; }

dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }

dd { margin-left: 1.5em; }

table { margin-bottom: 1.4em; width: 100%; }

th { font-weight: bold; }

thead th { background: #c3d9ff; }

th, td, caption { padding: 4px 10px 4px 5px; }

tr.even td { background: #e5ecf9; }

tfoot { font-style: italic; }

caption { background: #eee; }

.quiet { color: #666666; }

.loud { color: #111111; }

#actions { text-align: right; background: #B7DDF2; padding: 6px; margin-bottom: 6px; }

div.form, div.view { display: inline-block; padding: 6px; background: #E6F2FF; }
div.form ul, div.view ul { margin: 0; }
div.form ul li, div.view ul li { list-style-type: none; margin-left: 0px; }
div.form .attribute, div.form .row, div.view .attribute, div.view .row { overflow: auto; }
div.form .label, div.form .value, div.view .label, div.view .value { float: left; display: block; margin: 3px 6px; }
div.form .label, div.view .label { font-weight: bold; }
div.form .value input, div.form .value select, div.form .value textarea, div.view .value input, div.view .value select, div.view .value textarea { border: 1px solid #B7DDF2; }
div.form .buttons, div.view .buttons { margin-top: 6px; }
div.form .value .validation-error, div.view .value .validation-error { background: #fbe3e4; color: #8a1f11; }

div.errorSummary { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
div.errorSummary a { color: #8a1f11; }

div.admin h2 { padding-bottom: 6px; }
div.admin table { background: white; border-collapse: collapse; border: 2px #B7DDF2 solid; width: 100%; }
div.admin th, div.admin td { padding: 3px; }
div.admin th { font-weight: bold; background: #d3dfee; text-align: left; }
div.admin tr.odd { background: #E6F2FF; }
div.admin .actions { width: 75px; text-align: right; }
div.admin .footer { text-align: right; }
