@import compass/utilities/lists

@import blueprint/modules/colors.sass
//@import blueprint/modules/buttons.sass
//@import blueprint/modules/grid.sass
@import blueprint/modules/typography.sass
//@import blueprint/modules/utilities.sass
//@import blueprint/modules/form.sass
@import blueprint/modules/interaction.sass
//@import blueprint/modules/debug.sass

.layout
  :display table
  :width 100%
  :background #E6F2FF
  :outline 2px #B7DDF2 solid

  & > ul
    :display table-row
    +no-bullets

    & > li
      :display table-cell
      :vertical-align top

li.view, div.view, li.form, div.form
  padding: 6px
  ul
    :margin 0
    :padding 0

  .label, .value
    padding: 3px
    display: table-cell
    vertical-align: top

  .label
    font-weight: bold
    margin-right: 6px

  .buttons
    :margin-top 6px

  .value .validation-error
    :background = !error_bg_color
    :color = !error_color

li.form, div.form
  .label
    margin-top: 0.4em

div.actionBar
  font-size: medium
  text-align: left
  color: #fff
  background: #B7DDF2
  padding: 6px
  margin-bottom: 6px

  ul
    +inline-list

button
  padding: 0
  display: inline-block
  img
    vertical-align: middle

li.relations
  :border-left 2px solid #B7DDF2
  :width 30%

  ul
    display: table
    :width 100%
    :margin 0
    +no-bullets

  li
    :display table-row
    &.odd
      background: #B7DDF2
    & > *
      :text-decoration none
      :font-size large
      :display table-cell
      :vertical-align middle
      :padding 6px
      &.icon
        :width 32px
      &.label
      &.value
        :text-align right

  .hasMany
  .belongsTo
  .stat

  img
    width: 32px
    height: 32px
    vertical-align: middle

  .header
    :font-size large

  & > *
    padding: 0
    
.errorSummary
  +error

table.index
  background: #B7DDF2
  border-collapse: collapse
  border: 2px #B7DDF2 solid
  width: 100%

  th
    background: #d3dfee
    text-align: left
    border-bottom: 1px solid #E6F2FF

  tr.odd
    background: #E6F2FF

  .actions
    width: 100px
    text-align: right
    button
      :margin-left 3px
    white-space: nowrap

  tr.filters th
    background: #B7DDF2

  .filter
    margin: 0
    padding: 0

.pager
  font-size: inherit !important
  text-align: right
