@import compass/utilities/lists
@import blueprint/modules/interaction
@import blueprint/modules/typography
@import blueprint/modules/buttons

+blueprint-typography

#actions
  font-size: medium
  text-align: left
  color: #fff
  background: #B7DDF2
  margin-bottom: 6px
  a
    color: #fff
    text-decoration: none
    margin: 0 6px
  img
    vertical-align: middle

div.edit, div.view
  width: 60%
  display: inline-block
  background: #E6F2FF
  border: 2px solid #B7DDF2

  ul
    +no-bullets
    padding: 0
    margin: 0

  .row
    overflow: auto

  .label, .value
    float: left
    display: block

  .label

  .label, .value

  .value
    input, select, textarea

  .buttons
    :margin-top 6px

  .value .validation-error
    :background = !error_bg_color
    :color = !error_color

  input[type='submit']
    +button-button

div.view .value

div.errorSummary
  +error

table.admin
  background: #B7DDF2
  border-collapse: collapse
  border: 2px #B7DDF2 solid
  width: 100%

  th, td

  th
    background: #d3dfee
    text-align: left

  tr.odd
    background: #E6F2FF

  .actions
    width: 75px
    text-align: right

  .filter
    margin: 0
    padding: 0

ul.yiiPager
  font-size: inherit !important
  float: center
