@import susy/susy
@import susy/grid
@import blueprint/modules/interaction

#actions
  text-align: right

div.form, div.view
  +columns(16,16)

  ul
    +no-bullets
    margin: 0

  .attribute, .row
    +columns(16,16)
    :padding 3px 0

  .label
    +columns(3.6,16)
    +alpha(16)
    font-weight: bold
    font-size: 90%
    line-height: 1.7
    text-align: right
    background: #B7DDF2

    label
      padding: 0 6px
      display: block

  .value
    +columns(12,16)
    +omega(16)
    //background: #EBF4FB

  .buttons
    +columns(11,16)
    +full(16)
    +pad(3.6,0,16)
    :margin-top 6px

  label.required
    +highlight

  label.error
    :background = !error_bg_color
    :color = !error_color
    :border 2px solid
    :border-color = !error_border_color


div.errorSummary
  +error

div.admin
  h2
    :padding-bottom 6px

  table
    background: white
    border-collapse: collapse
    border: 2px #B7DDF2 solid
    width: 100%

  th, td
    padding: 3px

  th
    font-weight: bold
    background: #d3dfee
    text-align: left

  tr.odd
    background: #E6F2FF

  .actions
    width: 75px
    text-align: right

  .footer
    text-align: right
